table{
    text-align: center;
    align-self: center;
    margin-top: 8%;
    background-color:rgb(209, 205, 147);
}
td{
    color:red;
}
th{
    color:maroon ;
}
header{
    text-align: center;
    margin-top:6%;
    color:brown;
}
